@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
	--color-general:#707070;
	--color-primario: #00438b;
	--color-subtitulos: #707070
    --color-títulos: #000;
    --color-azul-primario: #00438b;
    --color-naranja: #ff7700;
    --fondo-gris: #f5f5f5;
    --fondo-morado: #efdff7;
    --color-morado: #b17cc6;
    --fondo-aqua: #c6e6fd;
    --color-aqua: #63b0e3;
    --fondo-footer: #fff;
	
}
body{
	font-family: 'Segoe UI';
	font-size: 14px;
	color: var(--color-general);
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}



header{
	background-color: var(--color-primario);
	/*box-shadow: 0px 0px 5px 3px #eee;*/
}

#hero{
	height: 600px;
	background-image: url("../img/hero-bg-4.jpg");
	background-size: cover;
	
	
}
#hero{
	background-color: var(--color-primario);
}
#hero h1{
	font-family: 'Comfortaa', sans-serif;
	color: var(--fondo-footer);
	padding-bottom: 20px;
	font-weight: 800;
}

#hero p{
	color: var(--fondo-footer);
	padding-bottom: 20px;
}
#hero .container{
	padding-top: 130px;
}
.btn-danger{
	background-color: var(--color-naranja)!important;
	border-color: var(--color-naranja)!important;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 3;
}
.btn-danger p{
	padding-bottom: 10px!important;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.btn-primary{
	background-color: var(--color-primario)!important;
	border-color: var(--color-primario)!important;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 0px;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 3;
}

.btn-primary p{
	padding-bottom: 10px!important;
	padding-top: 0px!important;
	margin-top: 0px!important;
	margin-bottom: 0px;
}

#features{
	padding-top: 80px;
	padding-bottom: 80px;
}

#features h2{
	font-family: 'Comfortaa', sans-serif;
	color: #000000;
	font-weight: 800;
	text-align: center;
}

#features .title p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;

}
#features .container{
	padding-top: 30px;
}
#features .container h6{
	color: #000000;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 800;
	font-size: 15px;
}
#features .las{
	color: var(--color-primario);
	font-size: 40px;
}

#agency{
	background-color: #E8E8E8;
	padding-top: 100px;
	padding-bottom: 120px;
}

#agency h3{
	color: #000000;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 800;
	font-size: 35px; 
	padding-bottom: 20px;
}

#agency p{
	font-family: 'Open Sans', sans-serif;

}
#agency .las{
	font-size: 60px;
	text-align: center;
}
#agency .card p{
	text-align: center;
}

#agency .card h4{
	text-align: center;
}
#agency .card{
	border-radius: 10px;
	margin-top: 30px;
	height: 160px;
	padding-top: 20px;
}

#calendar{
	background-color: var(--color-naranja);
}
#briefcase{
	background-color: var(--fondo-aqua);
}
#globe{
	background-color: var(--fondo-morado);
}
#coins{
	background-color: var(--color-primario);
}
#CTA{
	background-image: url("../img/hero-bg-2.jpg");
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 40px;
}

#CTA h2{
	color: #FFFFFF;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 800;
	font-size: 35px; 
	padding-bottom: 20px;
}
.btn-warning{
	background-color: var(--color-naranja)!important;
	border-color: var(--color-naranja)!important;
}

.btn-warning p{
	color: #FFFFFF;
	margin: 0;
}
#subscribe{
	padding-top: 50px;
}
#subscribe h3{
	font-family: 'Comfortaa', sans-serif;
	font-weight: 800;
	font-size: 25px; 
	padding-bottom: 20px;
	color: #000000;
}
footer{
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}




























